<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		
		<link rel="modulepreload" href="/_app/immutable/entry/start.DwqKFxDl.js">
		<link rel="modulepreload" href="/_app/immutable/chunks/entry.Cf9tARzs.js">
		<link rel="modulepreload" href="/_app/immutable/chunks/scheduler.CktBsrYA.js">
		<link rel="modulepreload" href="/_app/immutable/entry/app.CELsbnsS.js">
		<link rel="modulepreload" href="/_app/immutable/chunks/index.0K5uXL7a.js">
	</head>
	<body data-sveltekit-preload-data="hover">
		<div style="display: contents">
			<script>
				{
					__sveltekit_8x140k = {
						base: ""
					};

					const element = document.currentScript.parentElement;

					Promise.all([
						import("/_app/immutable/entry/start.DwqKFxDl.js"),
						import("/_app/immutable/entry/app.CELsbnsS.js")
					]).then(([kit, app]) => {
						kit.start(app, element);
					});
				}
			</script>
		</div>
	</body>
</html>
