<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		
		<link rel="modulepreload" href="/_app/immutable/entry/start.HfHdRrJd.js">
		<link rel="modulepreload" href="/_app/immutable/chunks/entry.A6bIMyNb.js">
		<link rel="modulepreload" href="/_app/immutable/chunks/scheduler.DMUGxSNz.js">
		<link rel="modulepreload" href="/_app/immutable/entry/app.CczJKV8G.js">
		<link rel="modulepreload" href="/_app/immutable/chunks/index.AYJZL7P_.js">
	</head>
	<body data-sveltekit-preload-data="hover">
		<div style="display: contents">
			<script>
				{
					__sveltekit_1y3g09r = {
						base: ""
					};

					const element = document.currentScript.parentElement;

					Promise.all([
						import("/_app/immutable/entry/start.HfHdRrJd.js"),
						import("/_app/immutable/entry/app.CczJKV8G.js")
					]).then(([kit, app]) => {
						kit.start(app, element);
					});
				}
			</script>
		</div>
	</body>
</html>
